/* Reset and General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

/* Header Styles */
.top-header {
    background-color: #218b4d; /* Green */
    color: #ffffff;
    padding: 20px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo-img {
    height: 50px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ffd700 /* Yellow */
}

.btn {
    background-color: #104526;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #f5f5f5;
}

/* Hero Section Styles */
.hero-section {
    background-color: #ffffff;
    padding: 100px 0;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-text {
    max-width: 500px;
    text-align: center;
}

.hero-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-text p {
    color: #555555;
    margin-bottom: 30px;
}

.hero-image img {
    max-width: 100%;
}

/* Footer Styles */
footer {
    background-color: #218b4d; /* Green */
    color: #ffffff;
    padding: 50px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-info,
.footer-links,
.footer-social {
    flex: 1;
    margin-right: 30px;
}

.footer-links h3,
.footer-social h3 {
    margin-bottom: 20px;
}

.footer-links ul,
.footer-social ul {
    list-style: none;
}

.footer-links ul li,
.footer-social ul li {
    margin-bottom: 10px;
}

.copy {
    text-align: center;
    margin-top: 20px;
}

/* Social Icons */
.footer-social img {
    height: 30px;
    margin-right: 10px;
}

/* Courses */
/* Main Content */
.course-top {
    padding: 50px;
}

.online-title {
    text-align: center;
    margin-bottom: 50px;
}

.online-courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.online-box {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.online-box:hover {
    box-shadow: 0px 5px 15px #bdbdbd;
}

.online-box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.online-box h2,
.online-box p {
    margin-bottom: 15px;
}

.online-box .btn {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 14px;
}

.bottom-feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-date img,
.right-stu img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
/* Endowment */
.feature {
    padding: 100px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.boxes {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 30px;
}

.boxes img {
    width: 60px;
    margin-bottom: 20px;
}

.boxes h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.boxes p {
    color: #666;
}

.al-shadow {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .boxes {
        width: 80%;
        margin: 0 auto 30px auto;
    }
}


